.quick-access {
    background-color: #1b1b1b;
    padding: 0 20px 5px; /* Add padding on left and right for equal spacing */
}

.quick-access h3 {
    margin-top: 0;
    font-size: 12px;
    color: #FCFCFC;
    border-bottom: 1px solid #242424;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.quick-access .buttons {
    display: flex;
    justify-content: space-between;
    gap: 50px; /* Increase gap between buttons */
    flex-wrap: wrap; /* Allow wrapping to the next line */
}

.quick-access .buttons button {
    background-color: #28282a;
    color: #f0f0f1;
    padding: 12px 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    height: 55px;
    gap: 8px;
    flex: 1;
    text-align: center;
}

.quick-access .buttons button:hover {
    background-color: #373737;
}

.quick-access .buttons .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 7px;
}

.quick-access .buttons .icon-container.icon1 {
    background-color: #6f2751;
}

.quick-access .buttons .icon-container.icon2 {
    background-color: #222255;
}

.quick-access .buttons .icon-container.icon3 {
    background-color: #124241;
}

.quick-access .buttons .icon-container.icon4 {
    background-color: #682b3b;
}

.quick-access .buttons .icon {
    font-size: 10px;
    color: #fff;
}

.quick-access .buttons .icon-container.icon1 .icon {
    color: #d02187;
}

.quick-access .buttons .icon-container.icon2 .icon {
    color: #c09bf9;
}

.quick-access .buttons .icon-container.icon3 .icon {
    color: #00d7c3;
}

.quick-access .buttons .icon-container.icon4 .icon {
    color: #da0016;
}

@media (max-width: 768px) {
    .quick-access .buttons {
        flex-direction: column;
        gap: 15px; 
    }

    .quick-access .buttons button {
        margin: 0;
    }
}
