:root {
    --background-color: #1b1b1b;
    --content-background: #0b0b0b;
    --header-title-color: #fff;
    --button-background: #fbc02d;
    --button-text-color: #000;
    --button-hover-transform: scale(1.05);
    --extra-button-background: #272625;
    --icon-color: #00e5ff;
    --table-header-color: #888;
    --table-border-top: #444;
    --table-cell-background: #1e1e1e;
    --checkbox-border-color: #474444;
    --checkbox-background-color: #474444;
    --checkbox-tick-color: #00FFFF;
    --table-row-hover-background: #292929;
    --table-row-even-background: #28282A;
    --table-row-odd-background: #1B1B1B;
    --date-text-color: gray;
    --year-2024-background: #ff69b4;
    --year-2023-background: #8a2be2;
    --food-catering-color: #4CAF50;
    --office-supplies-color: #FFC107;
    --business-lunch-color: #2196F3;
    --travel-expenses-color: #9C27B0;
    --client-dinner-color: #FF5722;
    --accommodation-color: #795548;
    --news-subscription-color: #607D8B;
}

.expenses-page-container {
    display: flex;
    height: 100vh;
    background-color: var(--background-color);

}

.expenses-content {
    flex-grow: 1;
    background-color: var(--content-background);
    border-radius: 6px;
    margin: 28px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    max-height: calc(100vh - 40px);
    padding: 27px 30px;
    gap: 10px;
}

.expenses-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}

.expenses-title {
    color: var(--header-title-color);
    font-size: 38px;
    margin: 0;
    font-weight: bold;
}

.header-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    gap: 20px;

}

@media (max-width: 768px) {
    .expenses-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-buttons {
        justify-content: flex-start;
        width: 100;
        margin-top: 10px;
    }
}



.export-btn {

    background-color: var(--button-background);
    width: 140px;
    height: 29px;
    color: var(--button-text-color);
    border: none;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-right: 10px;
}

.grouped-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.new-expense-btn {
    background-color: var(--button-background);
    width: 140px;
    height: 29px;
    color: var(--button-text-color);
    border: none;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-decoration: none;

}

.export-btn:hover,
.new-expense-btn:hover {
    transform: scale(1.05);
}

.extra-buttons {
    display: flex;
    gap: 5px;
}

.filter-btn,
.options-btn,
.more-btn {
    background-color: var(--extra-button-background);
    height: 29px;
    color: var(--button-text-color);
    border: none;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.filter-btn:hover,
.options-btn:hover,
.more-btn:hover {
    background-color: var(--extra-button-background);
    transform: var(--button-hover-transform);
}

.download-icon {
    margin-right: 4px;
    font-size: 20px;
}

.icon {
    color: var(--icon-color);
}

.expenses-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 3px;
    color: var(--header-title-color);
}

.expenses-table th {
    padding: 8px;
    padding-left: 11px;
    text-align: left;
    color: var(--table-header-color);
    font-weight: normal;
    border-top: 1px solid var(--table-border-top);
    font-size: 14px;
}

.expenses-table td {
    padding: 13px 11px;
    font-size: 12px;
    background-color: var(--table-cell-background);
}


.checkbox-header input[type="checkbox"],
.checkbox input[type="checkbox"] {
    appearance: none;
    width: 15px;
    height: 15px;
    border: 2px solid var(--checkbox-border-color);
    border-radius: 3px;
    cursor: pointer;
    background-color: var(--checkbox-background-color);
    position: relative;
}


.checkbox-header input[type="checkbox"]:checked::after,
.checkbox input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    top: 1px;
    left: 3px;
    width: 4px;
    height: 8px;
    border: solid var(--checkbox-tick-color);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}



.expenses-table tr:hover td {
    background-color: var(--table-row-hover-background);
}

.expenses-table tr:nth-child(even) td {
    background-color: var(--table-row-even-background);
}

.expenses-table tr:nth-child(odd) td {
    background-color: var(--table-row-odd-background);
}



.category-icon {
    display: inline-block;
    width: 29px;
    height: 26px;
    margin-right: 10px;
    border-radius: 50%;
    margin-right: 10px;
}

.date {
    font-size: 0.75rem;
    color: var(--date-text-color);
    margin-bottom: 4px;
}

.category-container {
    display: flex;
    align-items: center;

}

.category-name {
    font-size: 1rem;
    font-size: 12px;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-container .date,
.text-container .category-name {
    margin: 0;
    padding: 0;
}


.year-badge {
    padding: 5px 30px;
    border-radius: 15px;
    font-size: 0.8em;
    width: auto;
    min-width: 80px;
    text-align: center;
}

.year-2024 {
    background-color: var(--year-2024-background);
}

.year-2023 {
    background-color: var(--year-2023-background);
}

/* Specific styles for category icons */
.food-catering {
    background-color: var(--food-catering-color);
}

.office-supplies {
    background-color: var(--office-supplies-color);
}

.business-lunch {
    background-color: var(--business-lunch-color);
}

.travel-expenses {
    background-color: var(--travel-expenses-color);
}

.client-dinner {
    background-color: var(--client-dinner-color);
}

.accommodation {
    background-color: var(--accommodation-color);
}

.news-subscription {
    background-color: var(--news-subscription-color);
}