:root {
    --primary-bg-color: #1b1b1b;
    --secondary-bg-color: #0b0b0b;
    --component-bg-color: #383838;
    --hover-bg-color: #272625;
    --text-color: #fff;
    --muted-text-color: #888;
    --accent-color: #00e5ff;
    --checkbox-bg-color: #474444;
    --checkbox-border-color: #474444;
    --checkbox-tick-color: #00FFFF;
    --border-color: #444;
    --form-border-color: #333;
    --save-draft-bg-color: #ffd700;
}

.expenses-form-container {
    display: flex;
    height: 100vh;
    background-color: var(--primary-bg-color);
}

.expenses-form-content {
    flex-grow: 1;
    background-color: var(--secondary-bg-color);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    max-height: calc(100vh - 40px);
    padding: 27px 30px;
    padding-bottom: 20px;
    margin: 28px 20px;
}

.expense-form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-color);
}

.new-expenses-title {
    color: var(--text-color);
    font-size: 38px;
    margin: 0;
    font-weight: bold;
}

.close-button {
    background-color: var(--primary-bg-color);
    height: 25px;
    color: var(--accent-color);
    border: none;
    padding: 8px;
    padding-bottom: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.close-button-nav {
    text-decoration: none;
}

.close-button:hover {
    background-color: var(--hover-bg-color);
    transform: scale(1.05);
}

.expense-form-layout {
    display: flex;
    gap: 20px;
}

.expense-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
    width: 500px;
}

.form-row {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.form-row label {
    flex: 0 0 100px;
    font-size: 13px;
    color: var(--muted-text-color);
    margin-left: 5px;
    margin-bottom: 16px;
    margin-top: 0px;
}

.form-row input[type="text"],
.form-row input[type="date"],
.form-row input[type="number"],
.form-row select,
.form-row textarea {
    flex: 1;
    background-color: var(--component-bg-color);
    border: none;
    border-radius: 8px;
    margin-bottom: 8px;
    padding: 7px;
    color: var(--text-color);
    padding-left: 15px;
    font-size: 10px;
}

.total-input {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.total-input-input {
    background-color: var(--component-bg-color);
    border: none;
    border-radius: 8px;
    padding: 5px;
    color: var(--text-color);
}

.checkbox-row {
    display: flex;
    align-items: center;
    margin-left: 133px;
}

.checkbox-row label {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.checkbox-row input[type="checkbox"] {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid var(--checkbox-border-color);
    border-radius: 3px;
    cursor: pointer;
    background-color: var(--checkbox-bg-color);
    position: relative;
}

.checkbox-row input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 5px;
    width: 5px;
    height: 10px;
    border: solid var(--checkbox-tick-color);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.upload-area {
    width: 350px;
    height: 390px;
    border: 2px dashed var(--form-border-color);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 130px;
    background-color: var(--primary-bg-color);
}

.upload-icon {
    font-size: 60px;
    margin-bottom: 10px;
    color: var(--text-color);
}

.upload-area p {
    font-size: 14px;
    color: #969696;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 23px;
}

.form-actions button {
    padding: 3px 8px;
    border-radius: 4px;
    width: 120px;
    height: 30px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.save:hover {
    background-color: var(--hover-bg-color);
    transform: scale(1.05);
}

.save-draft:hover {
    background-color: var(--save-draft-bg-color);
    transform: scale(1.05);
}

.save-draft {
    background-color: var(--save-draft-bg-color);
    color: black;
}

.save {
    background-color: var(--form-border-color);
    color: var(--text-color);
}