@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap');

:root {
  --background-color: #030303;
  --label-color: #6c6c6c;
  --input-background-color: #3c3c3c;
  --input-text-color: #fff;
  --primary-button-bg-color: #0b2463;
  --primary-button-border-color: #0b2463;
  --primary-button-hover-bg-color: #000066;
  --primary-button-hover-border-color: #000066;
}

body {
  background-color: #030303 !important;
}

.container-fluid {
  margin-top: -12vh;
  /* Adjust the top padding to move content upwards */
}

.login-form {
  width: 100%;
  max-width: 370px;
}

.label {
  font-size: 0.4rem;
  font-weight: bold;
  /* Make the label bold */
  color: var(--label-color);
}

.login-form .form-label.label {
  font-size: 0.875rem;
  /* Adjust size as needed */
}

.form-control {
  background-color: var(--input-background-color) !important;
  border: none !important;
  color: var(--input-text-color) !important;
  height: 31px;
}

.form-control:focus {
  box-shadow: none !important;
}

.btn-primary {
  background-color: var(--primary-button-bg-color) !important;
  border-color: var(--primary-button-border-color) !important;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-size: 13px;
}

.btn-primary:hover {
  background-color: var(--primary-button-hover-bg-color) !important;
  border-color: var(--primary-button-hover-border-color) !important;
}

.form-label {
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}

/* Custom CSS for the heading */
.heading {
  font-family: 'Syncopate', sans-serif;
  font-size: 1.7rem;
  text-align: center;
  line-height: 1.2;
}

.heading span {
  display: block;
}

.swal2-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.swal2-popup {
  border-radius: 10px;
  padding: 20px;
}

.green-progress-bar {
  background: #4CAF50 !important;
}

.red-progress-bar {
  background: #f27474 !important;
}